.navbar-container {
  height: 10vh;
  background-image: linear-gradient(to right, #9796f0, #ffffff33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.emoji-logo-container {
  display: flex;
  margin-left: 10%;
  align-items: center;
}
.navbar-score-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  width: 14%;
  min-width: 220px;
}
@media screen and (max-width: 500px) {
  .navbar-score-container {
    min-width: 150px;
  }
}

.game-name {
  color: #ffffff;
  font-family: 'Roboto';
  margin-left: 7px;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .game-name {
    font-size: 16px;
  }
}
.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .score {
    font-size: 14px;
  }
}
.high-score {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .high-score {
    font-size: 14px;
  }
}
